<app-menu></app-menu>
<div class="main-container">

  <button class="raised-button"  (click)="toggleDropdown()">
    {{ selectedValue ? selectedValue : 'Select Component' }}
  </button>
  <div class="dropdown-menu" [class.show]="isOpen">
    <a class="dropdown-item" (click)="selectItem('Inductor')">Inductor</a>
    <a class="dropdown-item" (click)="selectItem('Capacitor')">Capacitor</a>
    <a class="dropdown-item" (click)="selectItem('Select Component')">Go back</a>

  </div>
</div>

<div *ngIf=" selectedValue ==='Inductor' " >

  <div class="inductor">
    <div>Current Ripple(in Amperes)</div>
    <mat-form-field floatLabel="always">
      
      <input matInput placeholder="Simple" />
    </mat-form-field>
    </div>
    <div class="inductor">
    <div>Input Voltage(Vd in volts)</div>
    <mat-form-field floatLabel="always">
      
      <input matInput placeholder="Current " />
    </mat-form-field>
  </div>

  <div class="inductor1">
    <div>Output Power(in Watts)</div>
    <mat-form-field floatLabel="always">
      
      <input matInput placeholder="Simple" />
    </mat-form-field>
    </div>
    <div class="inductor1">
    <div>Output Voltage(Vo in volts)</div>
    <mat-form-field floatLabel="always">
      
      <input matInput placeholder="Current " />
    </mat-form-field>
  </div>
  <div class="inductor2">
    <div>Frequency(in Hz)</div>
    <mat-form-field floatLabel="always">
      
      <input matInput placeholder="Current " />
    </mat-form-field>
  </div>
  <div><button type="submit" class="btn">Submit</button></div>
</div>

<div *ngIf=" selectedValue ==='Capacitor' ">
  <div>Hello capacitor</div>
</div>

