  .main-container{
    position: absolute;
    top: 20%;
    left: 35%;
  }
  .inductor {
    padding: 10px ;
    position: relative;
    top: 250px;
    left: 25%;
    display: flex;
    align-items: flex-start;
  }
  .inductor1 {
    padding: 10px ;
    position: relative;
    top: 130px;
    left: 65%;
    display: flex;
    align-items: flex-start;
  }
  .inductor2 {
    padding: 10px ;
    position: relative;
    top: 130px;
    left: 45%;
    display: flex;
    align-items: flex-start;
  }
  mat-form-field {
    width: 10%; /* Adjust as needed */
  }
  .raised-button {
    
    position: relative;
    margin-top: 80px;
    margin-left: 100px;
    
  // transform: translate(-50%, -50%); /* Center button horizontally and vertically */
  padding: 10px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #008080;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    // display: inline-block;
    width: 300px;
    
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .raised-button:hover {
    background-color: #80ced6;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }

  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    position: relative;
  top: 80%;
  left: 65%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-menu.show {
    display: block;
  }
  
  .dropdown-item {
    padding: 12px 16px;
    cursor: pointer;
    display: block;
  }
  
  .dropdown-item:hover {
    background-color: #ddd;
  }
  .btn{
    font-size: medium;
    text-decoration: solid;
    width:15%;
    padding: 15px;
    border: none;
    border-radius:6px;
    background: linear-gradient(135deg,#008080,#7eeeee);
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 2%;
    position: relative;
    top: 130px;
    left: 45%;
  }